*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* #container{
    height: 400px;
    width: 50%;
    border: 5px solid white;
}
#box1{
    height: 50%;
    width: 50%;
    border: 3px dashed white;
} */
/* #c1{
    height: 50vh;
    width: 50vw;
    background-color: white;
    font-size: 15px;
}
p{
    font-size: 3rem;
    margin: 2em;
 margin: 2rem;
} */
 #cont{
    height: 50vmax;
    width: 50vmin;
    background-color: white;
 }